@import 'tailwindcss';
@theme {
	--color-primary: #8e1616;
	--color-secondary: #d84040;
	--color-foreground:#eeeeee;
	--default-transition-duration: 0.3s;
	--default-transition-timing-function: easy-in-out;
}

:root {
	--background: #1d1616;
	--foreground: #eeeeee;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-comfortaa);
}
